@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  @apply outline-indigo-400 ring-0 !important;
}

.badge_primary {
  @apply badge w-44 rounded-lg border-primary bg-primary/90 px-3 py-4 font-semibold text-white;
}

.text_link {
  @apply flex cursor-pointer items-center space-x-1 font-semibold text-secondary underline-offset-4 hover:underline hover:decoration-2;
}

/* tailwind default z-index was 11*/
.table th:first-child {
  z-index: 5;
}
